manifest {
    homePage = 'https://github.com/alcalan/tree/master/PostAlignment'
    description = 'Post aligment of WES/WGS data using bwakit'
    mainScript = 'PostAlignment.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
}

process {
    container = 'iarcbioinfo/postalignment-nf'
}

timeline {
  enabled = true
}

report {
  enabled = true
}

trace {
  enabled = true
}

dag {
  enabled = true
}
